.calculator-body {
  background-color: rgb(58, 21, 67);
  width: fit-content;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 45px;
  gap: 1em;
  border-radius: 2cap;
  justify-content: space-evenly;
}
body {
  margin: 5em;
}
.calculator-buttons-row {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}
.calculator-input {
  background-color: white;
  flex-grow: 0;
  width: 100%;
  height: 70px;
  font-family: monospace;
  font-size: 36px;
  font-weight: 500;
  text-align: right;
}
.calculator-button {
  font-size: 64px;
  font-family: monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 0.25cap;
}
.calculator-button:hover {
  background-color: rgb(255, 146, 164);
}
.calculator-button.equal {
  background-color: rgb(255, 8, 144);
}
.calculator-button.equal:hover {
  background-color: rgb(255, 160, 214);
}
.calculator-button.c {
  background-color: rgb(255, 174, 0);
}
.calculator-button.c:hover {
  background-color: rgb(238, 255, 5);
}
#backspace {
  width: 220px;
  background-color: rgb(91, 195, 255);
  border-top-left-radius: 1cap;
  border-bottom-left-radius: 1cap;
  padding: 20px;
  font-size: 50px;
}
#backspace:hover {
  background-color: aquamarine;
}
#upper > .calculator-input {
  height: 30px;
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.716);
}
